<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"/>
<title  >Enviar parametros al url por GET</title>
</head>
<body>
<h1 >Enviar parametros al url por GET</h1>
<ul>
<li><a th:href="@{/params/string(texto='Hola Rene')}">/params/string?texto=hola Rene</a> </li>	
<li><a th:href="@{/params/string(texto='Hola Pedro')}">/params/string?texto=hola Pedro</a> </li>	
<li><a th:href="@{/params/mix-params(saludo='Hola Como Estas',numero=7)}">/params/mix-params?saludo=Hola Como Estas&numero=7</a> </li>	
<li><a th:href="@{/params/mix-params-request(saludo='Hola Como Estas',numero=7)}">/params/mix-params-request?saludo=Hola Como Estas&numero=7</a> </li>	
</ul>

</body>
</html>